@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

body{
    font-family: 'Popins', sans-serif;
    margin: 0;
    background-color:rgba(252, 252, 142, 0.837);
}
.heading{
    letter-spacing: 1px;
    font-size: 24px;
}
.movie{
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background-color: #212658;
    width: 300px;
    margin: 2.4rem;
    overflow: hidden;
    position: relative;
}

.movie img{
    width: 100%; 
}

.movie-info{
    color: rgb(146, 184, 175);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}
.movie-info h3{
    margin: 0;
    font-size: 20px;
    color: white;
}

.movie-info span{
    background-color: #212658;
    padding: 0.25rem 0.5rem;
    border: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(1, 253, 1);
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}
main {
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    flex-wrap: wrap;
}

header{
    display: flex;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
header h2{
    color: #edf0f1;
    margin-right: 50px;
}

.search{
    letter-spacing: 2px;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #22254b;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-family: inherit;
    color: white;
}
.search::placeholder{
    color: rgb(114, 114, 114);
}

.search:hover{
    cursor: text;
}
.search:focus{
    background-color: #22254b;
    outline: none;
}
.overview{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#edf0f1cc;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
    max-height: 100%;
    overflow: auto;
}
.movie:hover .overview{
    transform:translateY(0);
}
.overview h4{
    margin-top: 0;
}